@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
html {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url("./docs/assets/images/background-correct.png");
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
#canvas {
  /*   margin-left: 395px;
    margin-top: 70px; */
  border-radius: 2%;
  background-image: url("./docs/assets/images/initialscreen.png");
  background-size: contain;
  position: static;
}
#start {
  margin: 0;
  margin-left: 17px;
  margin-bottom: 5vh;
  padding: 0;
  border-style: none;
  border-radius: 10px;
  width: 80px;
  height: 90px;
}
#normalMode {
  margin: 0;
  margin-left: 17px;
  margin-bottom: 5vh;
  padding: 0;
  border-style: none;
  border-radius: 10px;
  width: 80px;
  height: 70px;
  display: none;
}
#arcadeMode {
  margin: 0;
  margin-left: 17px;
  margin-bottom: 5vh;
  padding: 0;
  border-style: none;
  border-radius: 10px;
  width: 80px;
  height: 70px;
  display: none;
}
.coin {
  margin: 0;

  padding: 0;
  border-style: none;
  border-radius: 10px;
  width: 80px;
  height: 90px;
}
.normal {
  margin: 0;

  padding: 0;
  border-style: none;
  border-radius: 10px;
  width: 80px;
  height: 70px;
}
.arcade {
  margin: 0;

  padding: 0;
  border-style: none;
  border-radius: 10px;
  width: 80px;
  height: 70px;
}
#buttons {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
#reset {
  margin: 0;
  margin-left: 17px;
  margin-bottom: 5vh;
  padding: 0;
  border-style: none;
  border-radius: 10px;
  width: 80px;
  height: 70px;
  display: none;
}
.reset {
  margin: 0;

  padding: 0;
  border-style: none;
  border-radius: 10px;
  width: 80px;
  height: 70px;
}
